.bar-red {
    width: 90%;
    background-color: rgba(216, 42, 42, 0.949);
    color: rgba(216, 42, 42, 0.949);    
}

nav {
    font-family: fantasy;
    font-size: 20px;
    letter-spacing: 5px;
    align-items: center;
}


nav h3 a h3{
    align-items: center;
    margin-left: 70px;
    color: black;
}


nav ul {
    gap: 50px;
    margin-right: 3%;
}

nav ul li {
    background-color: gainsboro;    
}

.containerContent {
    display: flex;         
    align-items: center; 
    font-family: fantasy;
    margin-top: 100px;
    margin-left: 60%;
    letter-spacing: 10px;
}

.icon-contacto {
    width: 80px;                
    height: auto;  
    margin-right: 20px;         
}


.conten-info-contact{
    display: flex;         
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    
}

.title{
    margin-left: 24%;
    margin-top: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;

}

.redes{
    background-color: black;
    display: flex;
    height: 905px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
}

.redes ul{
    list-style-type: none; 
    margin-left: 10%;
}

.redes ul li {
    margin-bottom: 100px;
}

.redes ul li a h2 {
    margin-left: 80%;
    margin-top: -70px;
}

a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
}


.social-icon {
    width: 100px;                 
    height: auto;               
}

.fin-red {
    margin-top: 876px;
    margin-left: -375px;
    width: 90%;
    height: 29px;
    background-color: rgba(216, 42, 42, 0.949);
    color: rgba(216, 42, 42, 0.949);    
}
